
.todolist-warp{   
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("../assets/bg.jpg") no-repeat center center/cover;
    .navbar-warp{
        opacity: .7;
    }
    .title-warp{
        
        margin: 20rpx 30rpx;
        padding: 0 60rpx 30rpx ;
        border-bottom: 1rpx solid #a08787 ;
        .title-content{
            font-size: 60rpx;
            font-weight: bolder;
        }
        .title-time{
            margin: 10rpx 0;
        }
    }
    // 任务列表
    .list-warp{
        box-sizing: border-box;
        height: 60vh;
        padding-top: 1rem;
        margin: 0 30rpx;
        border-radius: 10px;
        overflow-y: scroll;
        .no-data-tips{
            color: #414141;
            text-align: center;
            font-size: 40rpx; 
            opacity: .6;
        }
        .task-item{
            width: 100%;
            opacity: 0.8;
            background-image: linear-gradient(90deg,#FFEFBA,#FFFFFF);
            margin-top: 15rpx;
            border-radius: 20rpx;
            padding: 30rpx 20rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .task-item-left{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // 未完成任务
                .task-item-name{
                    width: 40vw;
                    color: #000;
                    text-decoration: none;
                    position: relative; 
                    padding-left:20rpx;
               }
                //已完成任务
               .task-item-done-name{
                width: 40vw;
                color: #c0c0c0;
                text-decoration: line-through;
                position: relative; 
                padding-left:20rpx;
               }
            } 
            .task-item-right{
                letter-spacing: 10rpx;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    //删除弹窗
    .popup-delete{
        position: absolute;
        width: 60vw;
        height: 20vh;
        top: 40%;
        left: 20%;
        background-color: #ffffff;
        opacity: .9;
        border-radius: 30rpx;
        .popup-delete-title{
            padding: 50rpx;
        }
        .popup-delete-btn{
            display: flex;
        }
    }
    }
    //添加任务
    .addTask-warp{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    padding-bottom: 0.2rem;
    button{ 
        border-radius: 2rem;
        background-image:linear-gradient(90deg,#FBD786,#e9e5ce);
        box-shadow:10rpx 10rpx 10rpx #a5a291;
    }
}

    // 底部弹窗
    .popup-warp{
        .popup-isDone,
        .popup-isImportant{
            margin:20rpx;
        }
        .popup-btn-save{
            margin: 40rpx;
        }
        .popup-isImportant,
        .popup-isDone{
            display: flex;
        }
    }
}