
.todolist-warp{   
    height: 100vh;
    width: 100vw;
    background: url("../assets/bg.jpg") no-repeat center center/cover;
    .navbar-warp{
        opacity: .7;
    }
    .title-warp{
        margin: 20px 30px;
        padding: 0 60px 30px ;
        border-bottom: 1px solid #a08787 ;
        .title-content{
            font-size: 60px;
            font-weight: bolder;
        }
        .title-time{
            margin: 10px 0;
        }
    }
    .list-warp{
        padding-top: 1rem;
        margin: 0 30px;
        .no-data-tips{
            color: #414141;
            text-align: center;
            font-size: 40px; 
            opacity: .6;
        }
        .task-list-item{
            width: 100%;
            opacity: 0.8;
            background-image: linear-gradient(90deg,#FFEFBA,#FFFFFF);
            margin-top: 15px;
            border-radius: 20px;
            padding: 30px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .task-list-item-left{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .task-list-item-name{
                    padding-left:20px;
                    position: relative; 
               }
            } 
        }

    //是否删除弹窗
    .popup-delete{
        position: absolute;
        width: 60vw;
        height: 20vh;
        top: 40%;
        left: 20%;
        background-color: #ffffff;
        opacity: .9;
        border-radius: 30px;
        .popup-delete-title{
            padding: 50px;
        }
        .popup-delete-btn{
            display: flex;
        }
    }
    }
    //添加任务
    .addTask-warp{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    padding-bottom: 0.2rem;
    button{ 
        border-radius: 2rem;
        background-image:linear-gradient(90deg,#FBD786,#e9e5ce);
        box-shadow:10px 10px 10px #a5a291;
    }
}

    // 底部弹窗
    .popup-warp{
        .popup-isDone,
        .popup-isImportant{
            margin:20px;
        }
        .popup-btn-save{
            margin: 40px;
        }
        .popup-isImportant,
        .popup-isDone{
            display: flex;
        }
    }
}